---
import Layout from "../../layouts/Layout.astro";
import {getCollection, getEntry} from "astro:content";

export const prerender = true;

export async function getStaticPaths() {
  return (await getCollection("recipes")).map(it => ({
    params: {slug: it.slug}
  }));
};

const {slug} = Astro.params;
const recipe = await getEntry("recipes", slug);
const {Content} = await recipe.render();
---

<Layout title={`Rob's Recipes | ${recipe.data.title}`}>
  <h1>{recipe.data.title}</h1>
  <Content />
</Layout>