---
import Layout from '../layouts/Layout.astro';
import type { storedData } from '../services/interfaces';
import { $recipeData } from '../store/recipeData';

const data: storedData = $recipeData.get();

---

<Layout title="Rob's Recipes | Home">
	<main>
		<h1 class="text-5xl font-bold text-center">Welcome to Rob's Recipes</h1>
		<ul>
			{data.recipes.map(recipe => <li>
			<a href=`/recipes/${recipe.slug}.html`>{recipe.title}</a>
			</li>)}
		</ul>
	</main>
</Layout>
