---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Rob's Recipes | Home">
	<main>
		<h1 class="text-5xl font-bold text-emerald-500 text-center">Welcome to Rob's Recipes</h1>
	</main>
</Layout>
