---
import Layout from "../layouts/Layout.astro";
import Editor from "../components/Editor";
---

<Layout title="Rob's Recipes | New Recipe">
  <h1 class="text-5xl font-bold text-center font-heading mb-8 text">New Recipe</h1>
  <p>Got a cherished family heirloom that appears every Christmas? Or a midnight snack born out of late night adventures? Add it to the database here, and feel free to have as much fun with the details.</p>
  <Editor client:only />
</Layout>