---
const { href, title, img } = Astro.props;
---

<div style=`background-image: url('${img}')` class="border border-gray-500 w-40 h-40 rounded hover:shadow bg-center bg-cover">
  <h3>{title}</h3>
</div>